*{
    background: rgb(82,79,173);
    background: linear-gradient(90deg, rgba(82,79,173,1) 41%, rgba(1,157,188,1) 100%);

    padding: 0;
    padding-top: 5%;
    margin: 0;

}

h1,h2,h3{
    font-family: 'Nova Mono', monospace;

    color: aliceblue;
    
    height: 200wv;
    width: 100%;

    padding: 0%;
    text-align: center;
}

.contenedor-video{
    align-content: center;
    text-align: center;
    justify-content: center;
    flex-direction: row;
    display: flex;

    width: 100%;
    padding:0;
    padding-bottom: 10%;
    margin: 0%;
    
    
}